body{ 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
} 
.outer{ 
    border: 2px solid black; 
    margin: 10px; 
    padding: 10px; 
    padding-bottom: 50px; 
    background-color: rgba(210, 208, 208, 0.303); 
 
} 
 
.product{ 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
     
} 
.box{ 
    border-radius: 8px; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.256); 
    margin: 2px; 
    text-align: center; 
    padding: 12px; 
    width: 200px; 
    background-color: white; 
} 
p{ 
    color: gray; 
}
