nav { 
background-color: rgb(163, 161, 161); 
text-align: center; 
font-family: 'Times New Roman', Times, serif; 
padding: 10px; 
} 
span { 
color: red; 
} 
.line1 { 
display: flex; 
color: purple; 
} 
.line1 div { 
background-color: skyblue; 
margin: 10px; 
padding: 5px; 
} 
.line2 { 
display: flex; 
color: darkred; 
} 
.line2 div { 
background-color: lime; 
margin: 10px; 
padding: 5px; 
}