body{
background-color:aliceblue;
}
h1{
background-color:black;
color:White;
font-family:'SegoeUI',Tahoma,Geneva,Verdana,sans-serif;
font-weight:600;
align-items:center;
text-align:center;
}
.outer{
border-radius:4px;
padding:2px;
width:226px;
background-color:white;
}
.box{
margin:12px;
text-align:left;
}
h3{
font-family:'GillSans','GillSansMT',Calibri,'TrebuchetMS',sans-serif;
}
p{
font-size:14px;
color:grey;
}
span{
color:darkgreen;
font-size:20px;
}
.cart{
padding:0.8px;
border-radius:4px;
text-align:center;
background-color:blue;
}
.cartp{
color:white;
font-size:14px;
font-family:'SegoeUI',Tahoma,Geneva,Verdana,sans-serif;
}