.outer { 
display: flex; 
gap: 30px; 
f
lex-wrap: wrap; 
justify-content: center; 
padding: 30px; 
} 
.inner { 
width: 230px; 
padding: 20px; 
border-radius: 10px; 
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.256); 
text-align: center; 
background: white; 
} 
.circle { 
height: 70px; 
width: 70px; 
background: blue; 
border-radius: 50%; 
display: flex; 
justify-content: center; 
align-items: center; 
color: white; 
margin: auto; 
font-size: 24px; 
font-weight: bold; 
margin-bottom: 12px; 
} 
.inner h4 { 
margin: 5px 0; 
font-weight: bold; 
} 
.inner p { 
margin: 3px 0; 
color: rgb(68, 68, 68); 
}